.render {
  width: 100%;
  height: 100%;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
}

.render-safe-zone {
  width: 100%;
  height: 100%;
  padding: 3rem;
  box-sizing: border-box;
  overflow: hidden;
}

.slides-letterbox {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.slides-frame {
  display: block;
  border: 0;
}
